kom-mute.app {
	encode zstd gzip

	reverse_proxy localhost:8080 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
}
